
.container-custom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: 525px;
}

.card-image-review {
    margin-top: 10px;
    margin-bottom: 25px;
}

.card-body-image-review-custom {
    overflow: hidden;
}

.card-footer-cutom {
    border: none;
}

.card-container {
    cursor: auto;
}

.card-container:active {
    cursor: auto;
}

.card-image-review-custom {
    cursor: pointer;
}

.card-image-review-custom:active {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .container-custom {
        overflow-y: scroll;
    }

    .container-custom::-webkit-scrollbar {
        display: block;
    }
}